aside {
  width: 40%;
  height: 100%;
  padding: 10px;

  .el-table {
    border-top: 1px solid #ebeef5;
    border-bottom: 1px solid #ebeef5;
    margin-top: 10px;
  }
  .el-table-column--selection .cell {
    padding-left: 10px;
    padding-right: 10px;
  }

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }

  .chat-content {
    height: calc(100% - 110px);
    font-size: .875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5625rem;
  }

  .result-content {
    height: calc(100% - 128px);
  }
  .selectStatus {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;

    svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  .search_status {
    height: 32px;
    padding: 4px;

    span {
      display: inline-block;
      margin-left: 10px;
      font-size: 12px;
      width: calc(100% - 34px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 26px;
      vertical-align: middle;
    }

    img {
      height: 100%;
    }
  }
}
.v--modal-overlay {
  width: 0 !important;
  height: 0 !important;
  z-index: 99999 !important;
}

.message_msg {
  .user_msg {
    overflow: hidden;
    max-width: 80%;
  }

  .user_headshot {
    margin-top: 20px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
    position: relative;
    overflow: hidden;
    background-color: #fff;

    img {
      width: 100%;
      border-spacing: 50%;
    }
  }

  .speaker {
    font-size: 12px;
    margin-bottom: 2px;
  }

  .user_text {
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 10px;
    position: relative;

    &:before {
      content: '\2666';
      font-size: 18px;
      position: absolute;
      top: 5px;
    }
  }

  &.left {
    .user_msg {
      padding-left: 10px;
      float: left;
    }
    .user_headshot {
      img {
        transform: scaleX(-1);
      }
    }

    .user_text {
      background: #ddd;
      float: left;

      &:before {
        left: -5px;
        color: #ddd;
        z-index: 100;
      }
    }
  }

  &.right {
    .user_msg {
      padding-right: 10px;
      float: right;
    }

    .speaker {
      text-align: right;
    }

    .user_headshot {
      float: right;
    }

    .user_text {
      background: #c6e5ff;
      float: right;

      &:before {
        right: -5px;
        color: #c6e5ff;
        z-index: 100;
      }
    }
  }
}

.message_msg:before, .message_msg:after {
  content: '';
  display: table;
}

.message_msg:after {
  clear: both;
}
