* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f4f7fb;
}

svg {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

.ivu-tabs-nav .ivu-tabs-tab-active {
  color: #fff !important;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #fff;
  letter-spacing: .18px;
}

.ivu-tabs-nav .ivu-tabs-tab:hover {
  color: #fff !important;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #fff;
  letter-spacing: .18px;
}

.ivu-tabs-ink-bar {
  background-color: #20d5d2 !important;
}

.ivu-select-selection {
  background-color: #282828 !important;
  border: 1px solid #979797 !important;
}

.ivu-select-single .ivu-select-selection {
  height: 40px !important;
}

.ivu-input {
  background-color: #3d3d3d !important;
}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder {
  height: 40px !important;
  line-height: 40px !important;
}

.ivu-select-dropdown {
  background-color: #282828 !important;
}

.ivu-checkbox-checked .ivu-checkbox-inner {
  background: #3d3d3d !important;
  border-radius: 2px !important;
  border-color: #3d3d3d !important;
}

.ivu-modal-content {
  background-color: #171717 !important;
}

.ivu-modal-header {
  border-bottom: none !important;
}

.ivu-modal-header-inner {
  font-family: PingFangSC-Regular;
  font-size: 16px !important;
  color: #fff !important;
  letter-spacing: .18px;
}

.ivu-table th {
  background-color: #565656 !important;
  border-bottom: 3px solid #171717 !important;
}

.ivu-table td {
  border-bottom: 2px solid #171717 !important;
  background: #3d3d3d !important;
}

.ivu-table-wrapper {
  border: 1px solid #171717 !important;
  border-bottom: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
}

.ivu-table {
  font-family: PingFangSC-Regular;
  font-size: 14px !important;
  color: #bebebe !important;
  letter-spacing: .16px;
}

.ivu-tabs {
  color: #fff;
}

.ivu-slider-bar {
  background: #ee538b !important;
}

.ivu-slider-button {
  border: 2px solid #ee538b !important;
}

.ivu-slider-button:hover {
  border-color: #ee538b !important;
}

.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  height: 40px !important;
  line-height: 40px !important;
}

.ivu-input {
  border: 1px solid #009c98 !important;
  font-size: 16px !important;
  color: #009c98 !important;
  letter-spacing: .18px;
  line-height: 32px !important;
}

#app {
  height: 100%;
}

.ivu-tabs-content {
  height: calc(100% - 55px) !important;
}

.right_bottom {
  .ivu-card:first-child {
    .ivu-card-body {
      height: 100%;

      ul {
        height: calc(100% - 42px);
        overflow: auto;
      }
    }
  }
}

.ivu-modal-body {
  height: 550px !important;
}

.ivu-table-wrapper {
  height: 100%;
}

.ivu-table-body {
  height: calc(100% - 40px);
  overflow: auto;
}

.ivu-table-cell {
  span {
    display: block;
    word-wrap: break-word;
    word-break: break-word;
  }
}

.ivu-select {
  color: #fff !important;
}

.ivu-select-item {
  color: #fff !important;
}